.head{
    width: auto;
    height: auto;
    color: black;
    top: auto;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center ;
background-color: chartreuse; }
.toggleButton{
    width: auto;
    height: auto;
    color: rgb(255, 255, 255);
    top: auto;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center ;
background-color: rgb(25, 2, 105);
}
body {
    transition: background-color 0.3s; 
}
.dark-mode {
    background-color: black;
    color: white;
  }


