.head{
    width: auto;
    height: auto;
    color: black;
    top: auto;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center ;
background-color: chartreuse; }